<div class="flex flex-col flex-grow justify-center items-center">
  <div class="w-5/6 sm:w-2/3 mt-12 my-12">
    <div>Hi👋 I'm Vu</div>
    <div class="my-5">
      I'm a web developer with 6+ years of experience. If during working hours I am a full-stack developer at Titan Technology, otherwise I am a freelancer,
      creator, experiencer, happy enjoyer... 😄
    </div>
    <div class="my-5">Besides working for food, I'd like to build things that I love or for my need.</div>
    <div>Willing to change, improve myself, learn new things are what I always aim for. The version of me today must be better than yesterday that is my motto.</div>
    <div class="text-center mt-10 uppercase my-3 font-bold">My skills</div>
    <div class="grid grid-cols-2 gap-2 justify-items-center sm:flex flex-row sm:justify-around items-center">
      <img class="w-16 h-16" src="/public/images/dot-net-core.svg" />
      <img class="w-16 h-16" src="/public/images/c-sharp.svg" />
      <div class="flex flex-col items-center justify-center bg-sky-50 rounded-full w-16 h-16">
        <img class="w-14" src="/public/images/html5.svg" />
      </div>
      <div class="flex flex-col items-center justify-center bg-sky-50 rounded-full w-16 h-16">
        <img class="w-10" src="/public/images/css3.svg" />
      </div>
      <img class="w-20 h-20" src="/public/images/javascript.svg" title="JavaScript" />
      <div class="flex flex-col items-center justify-center bg-sky-50 rounded-full w-16 h-16">
        <img class="w-16 h-16" src="/public/images/react.svg" />
      </div>
      <img class="w-16 h-16" src="/public/images/redux.svg" />
      <img class="w-16 h-16" src="/public/images/wordpress.svg" />
      <div class="flex flex-col items-center justify-center bg-sky-50 rounded-full w-16 h-16">
        <img class="w-14 h-14" src="/public/images/ms-sql-server.svg" />
      </div>
      <img class="w-18 h-16" src="/public/images/mongodb.svg" />
    </div>
  </div>
</div>
