<div class="flex flex-col flex-grow justify-center items-center">
    <span class="text-lg sm:text-xl text-center">Contact me via the information below</span>
    <div class="flex flex-col justify-center leading-10">
        <div><i class="fas fa-mobile-alt fa-lg mr-3"></i><span>+84 36 72 42 358</span></div>
        <div><i class="fas fa-envelope fa-lg  mr-3"></i><a href="mailto:vunh811@gmail.com">vunh811@gmail.com</a></div>
        <div><i class="fab fa-skype fa-lg  mr-3"></i><span>vu.nguyen.811</span></div>
    </div>
</div>
