<div class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-8 flex-grow justify-center items-center">
  <div>
    <img src="https://avatars.githubusercontent.com/u/16948762" class="rounded-full h-48 sm:h-72 w-48 sm:w-72" />
  </div>
  <div class="flex flex-col justify-center items-center sm:items-baseline sm:justify-between space-y-1 sm:space-y-3">
    <div class="sm:text-3xl">Hi👋 I'm</div>
    <div class="text-5xl sm:text-8xl font-extrabold">Vu Nguyen</div>
    <div class="text-lg text-gray-500 spacing text-center">A web developer. I can build professional websites for you!</div>
    <div class="flex flex-row justify-center space-x-4">
      <a href="https://github.com/vu811" target="_blank"><i class="fab fa-github fa-lg"></i></a>
      <a href="https://www.linkedin.com/in/vu811" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
      <a href="https://twitter.com/vunguyen811" target="_blank"><i class="fab fa-twitter-square fa-lg"></i></a>
    </div>
  </div>
</div>