<div class="flex flex-col flex-grow justify-center items-center">
  <div class="w-2/3 mt-12 my-12">
    <div class="uppercase sm:text-xl font-bold">What can I do?</div>
  </div>
  <div class="grid grid-cols-1 justify-items-center sm:grid-cols-3 gap-4">
    <div class="flex flex-col items-center justify-center bg-purple-200 dark:bg-gray-800 rounded-md w-72 h-30 p-2">
      <div class="font-bold"><i class="fas fa-code mr-1"></i>Freelancer Dev</div>
      <span class="text-gray-500 text-sm text-center">I can work and get paid by the hour</span>
    </div>
    <div class="flex flex-col items-center justify-center bg-purple-200 dark:bg-gray-800 rounded-md w-72 h-30 p-2">
      <div class="font-bold"><i class="fas fa-code mr-1"></i>Web Development</div>
      <span class="text-gray-500 text-sm text-center">I can build web apps</span>
    </div>
    <div class="flex flex-col items-center justify-center bg-purple-200 dark:bg-gray-800 rounded-md w-72 h-30 p-2">
      <div class="font-bold"><i class="fas fa-code mr-1"></i>Wordpress</div>
      <span class="text-gray-500 text-sm text-center">Build websites such as profile company, landing page... with Wordpress</span>
    </div>
  </div>
</div>
