<div class="flex flex-col flex-grow justify-center items-center">
  <div class="w-2/3 mt-12 my-12">
    <div class="uppercase sm:text-xl font-bold">Recent projects</div>
  </div>
  <div class="grid grid-cols-1 justify-items-center sm:grid-cols-3 gap-4">
    <div class="flex flex-col items-center justify-center bg-purple-200 dark:bg-gray-800 rounded-md w-72 h-30 p-2">
      <img class="w-72 h-30" src="/public/images/project/dgnotes.png" />
      <div class="font-bold">dgNOTES</div>
      <span class="text-gray-500 text-sm text-center">A web app to note everything such us: projects, goals, todos...</span>
      <div class="cursor-pointer space-x-3">
        <a href="https://github.com/vu811/dgNotes" target="_blank"><i class="fab fa-github fa-lg"></i></a
        ><a href="https://dgnotes.herokuapp.com" target="_blank"><i class="fas fa-link"></i></a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center bg-purple-200 dark:bg-gray-800 rounded-md w-72 h-30 p-2">
      <img class="w-72 h-30" src="/public/images/project/vjtcommerce.png" />
      <div class="font-bold">vjtCommerce</div>
      <span class="text-gray-500 text-sm text-center">An e-Commerce website built with MERN stack</span>
      <div class="cursor-pointer space-x-3">
        <a href="https://github.com/vu811/vjtCommerce" target="_blank"><i class="fab fa-github fa-lg"></i></a
        ><a href="https://vjtcommerce.herokuapp.com" target="_blank"><i class="fas fa-link"></i></a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center bg-purple-200 dark:bg-gray-800 rounded-md w-72 h-30 p-2">
      <img class="w-72 h-30" src="/public/images/project/portfolio.png" />
      <div class="font-bold">Portfolio</div>
      <span class="text-gray-500 text-sm text-center">My portfolio built with Vanilla JS and TailwindCSS</span>
      <div class="cursor-pointer space-x-3">
        <a href="https://github.com/vu811/portfolio" target="_blank"><i class="fab fa-github fa-lg"></i></a
        ><a href="https://vu811.netlify.app" target="_blank"><i class="fas fa-link"></i></a>
      </div>
    </div>
  </div>
</div>
